.featured-post {
margin: 0;
padding: 10px;
border-radius: 5px;
background-color: #f8f9fa;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
width: 100%;
}

.featured-post h2 {
font-size: 1.5rem;
font-weight: bold;
color: #212529;
margin-bottom: 20px;
}

.loader-container {
display: flex;
align-items: center;
justify-content: center;
}

.content-class {
padding: 10px;
display: flex;
align-items: center;
flex-direction: column;
justify-content: space-between;
}

.blog-user {
display: flex;
align-items: center;
justify-content: center;
width: 100%;
margin-bottom: 10px;
}

.content {
display: flex;
flex-direction: row-reverse;
}

.img-cont {
width: 100%;
}

.blog-content p {
margin: 20px;
justify-content: flex-start;
}

.blog-post {
padding: 15px;
border-radius: 5px;
background-color: #fff;
margin-bottom: 15px;
}

.content-class h3 {
font-size: 24px;
font-family: 'Times New Roman', Times, serif;
font-weight: bold;
margin-bottom: 5px;
}

.content-class h4,
.blog-post h4 {
font-size: 18px;
font-weight: bold;
margin-bottom: 10px;
display: flex;
align-items: center;
justify-content: center;
}

.blog-txt {
width: 100%;
}

.blog-post p {
font-size: 16px;
line-height: 1.5;
margin-bottom: 10px;
display: flex;
align-items: center;
justify-content: center;
}

hr {
border: none;
border-top: 1px solid #ddd;
margin: 10px 0;
}

.highlight {
background-color: yellow;
font-weight: bold;
}

.img {
width: 90%;
height: auto;
}

.blog,
.img-cont {
display: flex;
align-items: center;
justify-content: flex-start;
}

@media only screen and (max-width: 768px) {
.featured-post,
.blog-post {
padding: 10px;
}

.content-class,
.content {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.img {
width: 100%;
}

.blog-post h4 {
font-size: 16px;
}

.blog-post p {
font-size: 14px;
}
}

@media only screen and (max-width: 480px) {
.featured-post {
padding: 10px;
width: 100%;
margin: 0;
}

.content-class,
.content {
display: flex;
flex-direction: column;
}

.img,
.img-cont {
width: 100%;
}

.blog-title h4,
.blog-content p {
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
margin: 5px;
}

.blog-post {
padding: 5px;
}
}
