body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
color: #333;
}

a {
text-decoration: none;
color: #007bff;
transition: color 0.2s ease-in-out;
}

a:hover {
color: #005bce;
}

.my-blogs {
padding: 20px;
text-align: center;
max-width: 1200px;
margin: auto;
min-height: 100vh;
}


h2 {
font-size: 2rem;
font-weight: bold;
margin-bottom: 20px;
color: #212529;
}

.blog-posts {
margin: 20px auto;
width: 70%;
padding: 20px;
border-radius: 5px;
background-color: #fff;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.blog-posts h4 {
font-size: 18px;
font-weight: bold;
margin-bottom: 10px;
color: #212529;
}

.blog-title{
    margin: 20px;
}

.blog-posts p {
font-size: 16px;
line-height: 1.5;
color: #333;
}

.blog-posts p:last-child {
margin-bottom: 10px;
}

hr {
margin: 10px 0;
border: 1px solid #ddd;
}

@media only screen and (max-width: 768px) {
.my-blogs {
padding: 20px;
}

h2 {
font-size: 1.8rem;
}

.blog-posts {
width: 90%;
}

.blog-posts p {
font-size: 14px;
}
}

@media only screen and (max-width: 480px) {
h2 {
font-size: 1.6rem;
}

.blog-posts p {
font-size: 12px;
}
}
