.Otp {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
color: #333;
}

.Otp div {
display: flex;
flex-direction: column;
align-items: center;
padding: 20px;
border-radius: 5px;
background-color: #fff;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.Otp div p {
color: #dc3545;
font-weight: bold;
margin-bottom: 10px;
}

.Otp h1 {
font-size: 1.5rem;
font-weight: bold;
color: #212529;
margin-bottom: 15px;
}

.Otp div label {
font-size: 14px;
color: #212529;
margin-bottom: 5px;
}

.Otp div input {
height: 40px;
border: 1px solid #ddd;
border-radius: 5px;
padding: 10px;
font-size: 16px;
color: #333;
}

.Otp button {
background-color: #007bff;
color: #fff;
border: none;
border-radius: 5px;
padding: 10px 20px;
font-size: 16px;
cursor: pointer;
transition: background-color 0.2s ease-in-out;
margin-top: 10px;
}

@media only screen and (max-width: 768px) {
.Otp div {
width: 70%;
}
}

@media only screen and (max-width: 480px) {
.Otp div {
flex-direction: column;
}

label {
margin-bottom: 10px;
}

input {
margin-bottom: 10px;
}

button {
margin-top: 10px;
}
}
